<div class="footer-site">
	<div class="content">
		<div class="col-3 area-1">
			<img class="logo" src="assets/images/logo_cinza.png">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
		</div>
		<div class="col-3 area-2">
			<p class="title">
				Veja
			</p>
			<ul>
				<li>
					<a href="#/products"> produtos </a>
				</li>
				<li>
					<a href="#/stores"> lojas </a>
				</li>
			</ul>
		</div>
		<div class="col-3">
			<p class="title">
				Siga-nos
			</p>
			<div class="area-footer">
				<div class="box-icons">
					<a target="_blank" href="#">
						<div class="icon" id="icon-05">
						</div>
					</a>
					<a target="_blank" href="#">
						<div class="icon" id="icon-01">
						</div>
					</a> 
					<a target="_blank" href="#">
						<div class="icon" id="icon-02">
						</div>
					</a>
					<a target="_blank" href="#"> 
						<div class="icon" id="icon-04">
						</div>
					</a>
					<a target="_blank" href="#">
						<div class="icon" id="icon-09">
						</div>
					</a>
				</div>
			</div>
			<div class="icon-social i-01"></div>
			<div class="icon-social i-02"></div>
			<div class="icon-social i-03"></div>
		</div>
	</div>
	<p class="copyright">
		© 2018 Maria Luísa Costa Pinto. Todos os direitos reservados.
	</p>
</div>